.conCard{
    width: 100vw;
    min-height: auto;
    height: auto;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 40px;
}

