
.footer{
    width: 100vw;
    height: auto;
    padding: 20px 10%;
    display: flex;
    gap: 40px;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.footer_left_socmed {
    display: flex;
    gap: 20px;
}

.footer_left_socmed span i {
    margin-right: 5px;
}

.footer_right{
    color: aliceblue;
}

.footer_right_sitmap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: white;
}

.footer_right_sitemap a:hover{
    color: cyan;
}

.form_grup{
    width: 100%;
    display: flex;
    gap: 8px;
}

.form_grup input{
    height: 30;
    padding: 8px;
    border: none;
    flex: 1.5;
    outline: none;
}

.form_grup button{
    outline: none;
    border: none;
    background-color: darkblue;
    color: whitesmoke;
    flex: 1;
}

.form_grup button:hover{
    background-color: gray;
}

@media only screen and (max-width: 500px) {
    .footer {
        flex-direction: column;
        margin-bottom: 8vh;
    }
}